/* Height hack for float wrappers */
.services {
    overflow:auto;
}

.auth-icon {
    display: block;
    width: 55px;
    height: 55px;
    background: url("../images/socialauth.png") no-repeat;
}

.auth-icon.google, 
.auth-icon.google_oauth  { background-position: -199px -2px;  }
.auth-icon.twitter    	 { background-position: -133px -2px;  }
.auth-icon.yandex,
.auth-icon.yandex_oauth  { background-position: -67px -68px; }
.auth-icon.vkontakte	 { background-position: -2px -2px; }
.auth-icon.facebook		 { background-position: -67px -2px; }
.auth-icon.mailru		 { background-position: 0 -204px; }
.auth-icon.moikrug		 { background-position: 0 -238px; }
.auth-icon.odnoklassniki { background-position: 0 -272px; }
.auth-icon.linkedin    	 { background-position: -133px -68px; }
.auth-icon.github      	 { background-position: -199px -68px; }
.auth-icon.live      	 { background-position: 0 -372px; }

.auth-link:hover,
.auth-link:focus{
    display: block;
    width: 55px;
    height: 55px;
    opacity: 0.8;
    /*background: url("../images/auth.png") 0 0 no-repeat;*/
}

.auth-services {
    margin: 0 0 1em;
    list-style: none;
	/* Height hack for float wrappers */
    overflow:auto;
}
    
.auth-service {
    float: left;
    margin: 0 1em 1em 0;
}
.auth-service:nth-child(4n+5) {
    clear: left;
}
      
.auth-services .auth-service .auth-link {
    display: block;
    width: 58px;
    /*padding: 0 0.4em;*/
}

.auth-service .auth-link .auth-icon {
    margin: 0 auto;
}
          
.auth-service .auth-link .auth-title {
    display: block;
    margin-top: 0.4em;
    text-align: center;
}